.category-item {
  background-color: $gray-light;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  @include transition();
  a {
    display: block;
  }
  &:hover {
    background-color: $yellow;
    .category-title{
      color: #fff;
    }
    .image-container {
      transform: scale(1.2);
    }
  }
  .category-title {
    color: $blue;
    display: block;
    text-align: center;
    font-size: 21px;
    text-decoration: none;
  }
  .image-container {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-top-right-radius: 30px;
    @include transition();
  }
}