.custom-breadcrumbs {
  .breadcrumb {
    background-color: transparent;
    border-radius: 0;
    justify-content: center;
    margin-bottom: 0;
  }
  .breadcrumb-item {
    color: $gray-light;
    text-transform: uppercase;
    a {
      color: $yellow;
      font-weight: 600;
    }
    &+.breadcrumb-item::before {
      color: #fff;
    }
  }
}