footer {
  font-size: 14px;
  color: $gray-light;
  a{
    color: $yellow;
    text-decoration: none;
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
  .img-logo {
    max-width: 80px;
  }
  .social-media-icons {
    a {
      color: $gray-dark;
      &:hover {
        color: $yellow;
      }
    }
  }
  .copy-rights {
    color: $gray-dark;
  }
  .footer-navigation {
    a {
      padding-bottom: 10px;
      display: block;
      position: relative;
      &:hover {
        color: #fff;
        text-decoration: none;
        i {
          opacity: 1;
          left: -13px;
        }
      }
    }
    i {
      font-size: 8px;
      position: absolute;
      opacity: 0;
      left: -20px;
      top: 7px;
      @include transition();
    }
  }
  @include mQ(767.98px) {
    .img-logo {
      margin: 0 auto;
      display: block;
    }
    .footer-navigation {
      a {
        padding-left: 15px;
        &:hover {
          i {
            opacity: 1;
            left: 0;
          }
        }
      }
      i {
        opacity: 1;
        left: 0;
      }
    }
  }
}