body {
  color: $gray-dark;
  background-color: $gray-light;
  font-family: $font;
}
.bg-blue {
  background-color: $blue;
}
.text-blue{
  color: $blue;
}
.bg-yellow {
  background-color: $yellow;
}
.text-yellow {
  color: $yellow;
}
.text-yellow-hover {
  &:hover {
    color: $yellow;
  }
}
i {
  display: inline-block;
}
.btn-yellow {
  font-size: 14px;
  background-color: $yellow;
  position: relative;
  border:0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 50px 10px 28px;
  @include transition();
  &:hover {
    background-color: $blue;
    &:after {
      background-color: $yellow;
    }
    i {
      opacity: 1;
      right: 15px;
    }
  }
  &:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $blue;
    height: 100%;
    width: 35px;
    border-top-right-radius: 30px;
    @include transition();
  }
  i {
    position: absolute;
    right: 28px;
    z-index: 9;
    font-size: 12px;
    top: 15px;
    opacity: 0;
    @include transition();
  }
}
h1,h2,h3,h4,h5,h6,p {
  margin-bottom: 0;
}
.section-title{
  font-family: $section-title;
  position: relative;
  padding-bottom: 3px;
  display: inline-block;
  text-transform: capitalize;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    right: 56%;
    background-color: $yellow;
  }
}
.square-border {
  position: relative;
  &:after {
    position: absolute;
    left: 5%;
    right: -5%;
    border: 2px solid $yellow;
    content: "";
    top: -8%;
    bottom: 7%;
    @include transition();
  }
  &.square-border-image-left {
    &:after {
      left: -5%;
      right: 5%;
      top: -8%;
      bottom: 7%;
    }
  }
  &:hover {
    &:after {
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      box-shadow: 0 0 10px $yellow;
    }
  }

}
button ,.form-control,.btn {
  &:focus {
    outline: 0;
    box-shadow: unset;
  }
}
@include mQ(768px) {
  .btn-yellow {
    font-size: 12px;
    i {
      opacity: 1;
      right: 13px;
      font-size: 10px;
      top: 17px;
    }
  }
  p {
    font-size: 14px;
  }
  .square-border {
    &:after {
      display: none;
    }
  }
}
.page-content {
  min-height: 600px;
}
.google-map {
  iframe {
    width: 100%;
    height: 320px;
  }
}
.form-control {
  border-radius: 0;
  min-height: 48px;
  font-size: 14px;
  border-color: $gray-light;
  &:hover {
    border-color: $yellow;
    box-shadow: 0 0 10px $gray-light;
  }
}
.contact-data-item {
  font-size: 15px;
  i {
    font-size: 20px;
  }
}
.ar-lang {
  font-family: $ar-lang
}
.owl-carousel {
  direction: ltr;
}