.main-banner {
  position: relative;
  height: 600px;
  .image-container {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba($blue,.5);
    }
    .container {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 99999;
      transform: translate( -50%, -50%);
    }
  }
  .caption {
    color: #fff;
    font-family: $section-title;
    h1 {
      font-size: 40px;
      letter-spacing: 4px;
      font-weight: 700;
      text-transform: uppercase;
    }
    h2{
      font-size: 36px;
    }
  }
  @include mQ(768px) {
    height: auto;
    .image-container {
      height: 300px;
    }
    .caption {
      h1 {
        font-size: 25px;
        text-align: center;
      }
      h2 {
        font-size: 18px;
        text-align: center;
      }
    }
  }
  .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    margin: 0 !important;
  }
  .owl-theme {
    .owl-dots {
      position: absolute;
      bottom: 5%;
      top: 17%;
      left: auto;
      right: 2%;
      .owl-dot {
        display: block;
        span {
          width: 11px;
          height: 11px;
          background: #fff;
          border: 1px solid #fff;
        }
      }
    }
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $yellow;
  }
  .owl-theme .owl-dots .owl-dot.active span,
  .owl-theme .owl-dots .owl-dot:hover span {
    background: $yellow;
    border-color: $yellow;
  }
}