.main-navigation {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99;
  .logo-image {
    max-width: 90px;
    @include transition();
  }
  .navbar-nav {
    .nav-item {
      margin: 0 0 0 20px;
      &.active {
        .nav-link {
          background-color: $yellow;
        }
      }
    }
    .nav-link {
      background-color: $gray-light;
      color: $blue;
      position: relative;
      padding: 5px 20px;
      font-weight: 600;
      font-size: 14px;
      border-top-right-radius: 30px;
      border-bottom-left-radius: 30px;
      text-transform: uppercase;
      @include transition();
      &:hover {
        background-color: $yellow;
      }
      i {
        font-weight: bold;
      }
    }
  }
  &.fixed-nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 4px #ccc;
    .logo-image {
      max-width: 50px;
    }
    .nav-link {
      font-size: 12px;
    }
  }
  @include mQ(768px) {
    position: static;
    background-color: #fff;
    .logo-image {
      max-width: 50px;
    }
    .navbar-toggler {
      padding: 0;
      background-color: $blue;
      border: 0;
      border-radius: 0;
      width: 45px;
      height: 40px;
      color: $yellow;
      border-top-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .navbar-nav {
      margin-top: 15px;
      .nav-item {
        margin: 0;
        &:last-child {
          .nav-link {
            border: 0;
          }
        }
      }
      .nav-link {
        border-radius: 0;
        padding: 9px 20px !important;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}