// mixins
@mixin transition ($delay:.4s) {
  -webkit-transition: all ease-in-out $delay;
  transition: all ease-in-out $delay;
}
@mixin rounded($arg:20px){
  -webkit-border-radius: $arg;
  -moz-border-radius: $arg;
  border-radius: $arg;
}
@mixin rotate($deg){
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
@mixin scale($val){
  -webkit-transform: scale($val);
  -moz-transform: scale($val);
  -o-transform: scale($val);
  transform: scale($val);
}
@mixin translate($val){
  -webkit-transform: translate($val);
  -moz-transform: translate($val);
  -o-transform: translate($val);
  transform: translate($val);
}
%bg-rules {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
%flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin mQ($arg...) {
  @if length($arg) == 1
  {
    @media screen and (max-width: nth($arg,1)){
      @content;
    }
  }
  @else if length($arg) == 2{
    @media screen and (min-width: nth($arg,1)) and (max-width: nth($arg,2)){
      @content;
    }
  }
}