.service-item {
  border: 1px solid #ccc;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  @include transition();
  &:hover {
    box-shadow: 0 0 12px #ccc;
    -webkit-transform: scale(1.1);
       -moz-transform: scale(1.1);
            transform: scale(1.1);
    a {
      color: $yellow;
    }
  }
  a {
    color: $blue;
    &:hover {
      color: $yellow;
      text-decoration: none;
    }
  }
  h5 {
    font-size: 17px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    color: $blue;
  }
  .read-more {
    color: $yellow;
    font-size: 13px;
    margin-left: 5px;
    text-decoration: underline;
  }
}