.social-media-icons {
  ul {
    justify-content: flex-end;
  }
  li {
    margin: 0 0 0 10px;
  }
  a{
    font-size: 16px;
    text-decoration: none;
    &:hover {
      color: $gray-light;
    }
  }
  @include mQ(767.98px){
    ul {
      justify-content: center;
    }
  }
}