@import "variables";
@import "mixins";

body {
  direction: rtl;
  text-align: right;
  font-family: $ar-lang;
}
.ml-auto, .mx-auto {
  margin-right: auto!important;
  margin-left: unset!important;
}
.main-navigation {
  .navbar-nav {
    .nav-link {
      padding: 6px 25px;
      i {
        margin-left: 8px;
      }
    }
  }
  @include mQ(768px) {
    .navbar-nav {
      text-align: right;
      padding-right: 0;
    }
  }
}

.navbar-brand {
  margin-right: 0;
}

.main-banner  {
  .caption {
    h1 {
      letter-spacing: 0;
      font-weight: normal;
      text-transform: unset;
    }
  }
  .owl-theme {
    .owl-dots {
      left: 2%;
      right: auto;
    }
  }
}
.section-title {
  font-family: $ar-lang;
  letter-spacing: 0;
}
.ar-lang {
  font-family:  $section-title;
}

.btn-yellow{
  padding: 10px 28px 10px 50px;
  &:after {
    left: 0;
    border-top-right-radius: 0;
    right: auto;
    border-bottom-left-radius: 30px;
  }
  &:hover {
    i {
      left: 15px;
      right: auto;
    }
  }
  i {
    left: 28px;
    right: auto;
    @include rotate(-180deg);
  }
  @include mQ(768px) {
    i {
      top: 13px;
      left: 15px;
      right: auto;
    }
  }
}

.section-title{
  &:after {
    right: 0;
    left: 56%;
  }
}
.success-partner {
  &.owl-carousel {
    .owl-nav {
      position: absolute;
      top: -65%;
      right: auto;
      left: 0;
      height: 40px;
      margin-top: 0;
      width: 9%;
    }
  }
}
footer {
  .footer-navigation {
    a{
      &:hover {
        i {
          right: -13px;
          left: auto;
        }
      }
    }
    i {
      right: -20px;
      left: auto;
      @include rotate(-180deg);
    }
  }
}

.square-border{
  &::after {
    right: 5%;
    left: -5%;
  }
  &.square-border-image-left{
    &:hover {
      &:after{
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
      }
    }
    &:after {
      right: -5%;
      left: 5%;
    }
  }
 }

.custom-breadcrumbs {
  .breadcrumb-item {
    a {
      font-weight: normal;
    }
    i {
      margin-left: 7px;
    }
    &+.breadcrumb-item::before {
      padding-right: .5rem;
      padding-left: .5rem;
    }
  }
}


@media (min-width: 768px) {
  .text-md-left {
    text-align: right!important;
  }
}