.success-partner {
  .owl-item {
    padding: 20px;
    background-color: #fff;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    overflow: hidden;
    @include transition(.3s);
    border: 1px solid #fff;
    &:hover {
      border-color: #ccc;
      box-shadow: 0 0 10px #ccc;
    }
  }
  &.owl-carousel {
    .owl-nav {
      position: absolute;
      top: -65%;
      right: 0;
      left: auto;
      height: 40px;
      margin-top: 0;
      width: 9%;
      button {
        width: 40px;
        height: 40px;
        background-color: $blue;
        position: absolute;
        margin: 0;
        border-radius: 0;
        color: #fff;
        font-size: 13px;
        line-height: 43px;
        @include transition();
        &:hover {
          background-color: $yellow;
        }
        &.owl-next {
          right: 0;
        }
        &.owl-prev {
          right: 50px;
          i{
            @include rotate(-180deg);
          }
        }
        i {
          display: inline-block;
        }
      }
    }
    .owl-dots{
      margin-top: 25px !important;
      .owl-dot{
        &.active {
          span{
            background-color: $blue;
          }
        }
        span {
          background-color: $yellow;
        }
      }
    }
    .owl-dots .owl-dot:hover span {
      background: $blue;
    }
  }

}