$blue: #292b5c;
$yellow: #f6b036;
$gray-light: #e3e3e3;
$gray-dark: #333;
$purple: #a4195c;

$font: 'Open Sans', sans-serif;
$section-title : 'Montserrat', sans-serif;
$ar-lang :  'Almarai', sans-serif;