@font-face {
  font-family: 'abilita';
  src:  url('fonts/abilita.eot?viy3y5');
  src:  url('fonts/abilita.eot?viy3y5#iefix') format('embedded-opentype'),
    url('fonts/abilita.ttf?viy3y5') format('truetype'),
    url('fonts/abilita.woff?viy3y5') format('woff'),
    url('fonts/abilita.svg?viy3y5#abilita') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'abilita' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e90b";
}
.icon-double-arrow:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e909";
}
.icon-call:before {
  content: "\e906";
}
.icon-envelope:before {
  content: "\e907";
}
.icon-smartphone:before {
  content: "\e908";
}
.icon-facebook:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-periscope:before {
  content: "\e902";
}
.icon-twitter:before {
  content: "\e903";
}
.icon-whatsapp:before {
  content: "\e904";
}
.icon-youtube:before {
  content: "\e905";
}
