@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Almarai&display=swap");
@import url(../css/bootstrap.min.css);
@import url(../css/abilita-icons.css);
@import url(../css/owl.carousel.min.css);
@import url(../css/owl.theme.default.min.css);
@import url(../css/animate.min.css);
.top-header {
  font-size: 14px;
  color: #f6b036; }
  .top-header a {
    color: #f6b036; }
    .top-header a:hover {
      text-decoration: none;
      color: #e3e3e3; }

.social-media-icons ul {
  justify-content: flex-end; }
.social-media-icons li {
  margin: 0 0 0 10px; }
.social-media-icons a {
  font-size: 16px;
  text-decoration: none; }
  .social-media-icons a:hover {
    color: #e3e3e3; }
@media screen and (max-width: 767.98px) {
  .social-media-icons ul {
    justify-content: center; } }

.main-navigation {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 99; }
  .main-navigation .logo-image {
    max-width: 90px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .main-navigation .navbar-nav .nav-item {
    margin: 0 0 0 20px; }
    .main-navigation .navbar-nav .nav-item.active .nav-link {
      background-color: #f6b036; }
  .main-navigation .navbar-nav .nav-link {
    background-color: #e3e3e3;
    color: #292b5c;
    position: relative;
    padding: 5px 20px;
    font-weight: 600;
    font-size: 14px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    text-transform: uppercase;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    .main-navigation .navbar-nav .nav-link:hover {
      background-color: #f6b036; }
    .main-navigation .navbar-nav .nav-link i {
      font-weight: bold; }
  .main-navigation.fixed-nav {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 0 4px #ccc; }
    .main-navigation.fixed-nav .logo-image {
      max-width: 50px; }
    .main-navigation.fixed-nav .nav-link {
      font-size: 12px; }
  @media screen and (max-width: 768px) {
    .main-navigation {
      position: static;
      background-color: #fff; }
      .main-navigation .logo-image {
        max-width: 50px; }
      .main-navigation .navbar-toggler {
        padding: 0;
        background-color: #292b5c;
        border: 0;
        border-radius: 0;
        width: 45px;
        height: 40px;
        color: #f6b036;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px; }
      .main-navigation .navbar-nav {
        margin-top: 15px; }
        .main-navigation .navbar-nav .nav-item {
          margin: 0; }
          .main-navigation .navbar-nav .nav-item:last-child .nav-link {
            border: 0; }
        .main-navigation .navbar-nav .nav-link {
          border-radius: 0;
          padding: 9px 20px !important;
          border-bottom: 1px solid #ccc; } }

.main-banner {
  position: relative;
  height: 600px; }
  .main-banner .image-container {
    height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative; }
    .main-banner .image-container:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background-color: rgba(41, 43, 92, 0.5); }
    .main-banner .image-container .container {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 99999;
      transform: translate(-50%, -50%); }
  .main-banner .caption {
    color: #fff;
    font-family: "Montserrat", sans-serif; }
    .main-banner .caption h1 {
      font-size: 40px;
      letter-spacing: 4px;
      font-weight: 700;
      text-transform: uppercase; }
    .main-banner .caption h2 {
      font-size: 36px; }
  @media screen and (max-width: 768px) {
    .main-banner {
      height: auto; }
      .main-banner .image-container {
        height: 300px; }
      .main-banner .caption h1 {
        font-size: 25px;
        text-align: center; }
      .main-banner .caption h2 {
        font-size: 18px;
        text-align: center; } }
  .main-banner .owl-nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    margin: 0 !important; }
  .main-banner .owl-theme .owl-dots {
    position: absolute;
    bottom: 5%;
    top: 17%;
    left: auto;
    right: 2%; }
    .main-banner .owl-theme .owl-dots .owl-dot {
      display: block; }
      .main-banner .owl-theme .owl-dots .owl-dot span {
        width: 11px;
        height: 11px;
        background: #fff;
        border: 1px solid #fff; }
  .main-banner .owl-theme .owl-dots .owl-dot.active span,
  .main-banner .owl-theme .owl-dots .owl-dot:hover span {
    background: #f6b036; }
  .main-banner .owl-theme .owl-dots .owl-dot.active span,
  .main-banner .owl-theme .owl-dots .owl-dot:hover span {
    background: #f6b036;
    border-color: #f6b036; }

.service-item {
  border: 1px solid #ccc;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .service-item:hover {
    box-shadow: 0 0 12px #ccc;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1); }
    .service-item:hover a {
      color: #f6b036; }
  .service-item a {
    color: #292b5c; }
    .service-item a:hover {
      color: #f6b036;
      text-decoration: none; }
  .service-item h5 {
    font-size: 17px;
    font-weight: 600; }
  .service-item p {
    font-size: 14px;
    color: #292b5c; }
  .service-item .read-more {
    color: #f6b036;
    font-size: 13px;
    margin-left: 5px;
    text-decoration: underline; }

.category-item {
  background-color: #e3e3e3;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .category-item a {
    display: block; }
  .category-item:hover {
    background-color: #f6b036; }
    .category-item:hover .category-title {
      color: #fff; }
    .category-item:hover .image-container {
      transform: scale(1.2); }
  .category-item .category-title {
    color: #292b5c;
    display: block;
    text-align: center;
    font-size: 21px;
    text-decoration: none; }
  .category-item .image-container {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    border-top-right-radius: 30px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }

.custom-breadcrumbs .breadcrumb {
  background-color: transparent;
  border-radius: 0;
  justify-content: center;
  margin-bottom: 0; }
.custom-breadcrumbs .breadcrumb-item {
  color: #e3e3e3;
  text-transform: uppercase; }
  .custom-breadcrumbs .breadcrumb-item a {
    color: #f6b036;
    font-weight: 600; }
  .custom-breadcrumbs .breadcrumb-item + .breadcrumb-item::before {
    color: #fff; }

.success-partner .owl-item {
  padding: 20px;
  background-color: #fff;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  overflow: hidden;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  border: 1px solid #fff; }
  .success-partner .owl-item:hover {
    border-color: #ccc;
    box-shadow: 0 0 10px #ccc; }
.success-partner.owl-carousel .owl-nav {
  position: absolute;
  top: -65%;
  right: 0;
  left: auto;
  height: 40px;
  margin-top: 0;
  width: 9%; }
  .success-partner.owl-carousel .owl-nav button {
    width: 40px;
    height: 40px;
    background-color: #292b5c;
    position: absolute;
    margin: 0;
    border-radius: 0;
    color: #fff;
    font-size: 13px;
    line-height: 43px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
    .success-partner.owl-carousel .owl-nav button:hover {
      background-color: #f6b036; }
    .success-partner.owl-carousel .owl-nav button.owl-next {
      right: 0; }
    .success-partner.owl-carousel .owl-nav button.owl-prev {
      right: 50px; }
      .success-partner.owl-carousel .owl-nav button.owl-prev i {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }
    .success-partner.owl-carousel .owl-nav button i {
      display: inline-block; }
.success-partner.owl-carousel .owl-dots {
  margin-top: 25px !important; }
  .success-partner.owl-carousel .owl-dots .owl-dot.active span {
    background-color: #292b5c; }
  .success-partner.owl-carousel .owl-dots .owl-dot span {
    background-color: #f6b036; }
.success-partner.owl-carousel .owl-dots .owl-dot:hover span {
  background: #292b5c; }

footer {
  font-size: 14px;
  color: #e3e3e3; }
  footer a {
    color: #f6b036;
    text-decoration: none; }
    footer a:hover {
      color: #f6b036;
      text-decoration: none; }
  footer .img-logo {
    max-width: 80px; }
  footer .social-media-icons a {
    color: #333; }
    footer .social-media-icons a:hover {
      color: #f6b036; }
  footer .copy-rights {
    color: #333; }
  footer .footer-navigation a {
    padding-bottom: 10px;
    display: block;
    position: relative; }
    footer .footer-navigation a:hover {
      color: #fff;
      text-decoration: none; }
      footer .footer-navigation a:hover i {
        opacity: 1;
        left: -13px; }
  footer .footer-navigation i {
    font-size: 8px;
    position: absolute;
    opacity: 0;
    left: -20px;
    top: 7px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  @media screen and (max-width: 767.98px) {
    footer .img-logo {
      margin: 0 auto;
      display: block; }
    footer .footer-navigation a {
      padding-left: 15px; }
      footer .footer-navigation a:hover i {
        opacity: 1;
        left: 0; }
    footer .footer-navigation i {
      opacity: 1;
      left: 0; } }

body {
  color: #333;
  background-color: #e3e3e3;
  font-family: "Open Sans", sans-serif; }

.bg-blue {
  background-color: #292b5c; }

.text-blue {
  color: #292b5c; }

.bg-yellow {
  background-color: #f6b036; }

.text-yellow {
  color: #f6b036; }

.text-yellow-hover:hover {
  color: #f6b036; }

i {
  display: inline-block; }

.btn-yellow {
  font-size: 14px;
  background-color: #f6b036;
  position: relative;
  border: 0;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 10px 50px 10px 28px;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s; }
  .btn-yellow:hover {
    background-color: #292b5c; }
    .btn-yellow:hover:after {
      background-color: #f6b036; }
    .btn-yellow:hover i {
      opacity: 1;
      right: 15px; }
  .btn-yellow:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #292b5c;
    height: 100%;
    width: 35px;
    border-top-right-radius: 30px;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .btn-yellow i {
    position: absolute;
    right: 28px;
    z-index: 9;
    font-size: 12px;
    top: 15px;
    opacity: 0;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 0; }

.section-title {
  font-family: "Montserrat", sans-serif;
  position: relative;
  padding-bottom: 3px;
  display: inline-block;
  text-transform: capitalize; }
  .section-title:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 3px;
    right: 56%;
    background-color: #f6b036; }

.square-border {
  position: relative; }
  .square-border:after {
    position: absolute;
    left: 5%;
    right: -5%;
    border: 2px solid #f6b036;
    content: "";
    top: -8%;
    bottom: 7%;
    -webkit-transition: all ease-in-out 0.4s;
    transition: all ease-in-out 0.4s; }
  .square-border.square-border-image-left:after {
    left: -5%;
    right: 5%;
    top: -8%;
    bottom: 7%; }
  .square-border:hover:after {
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
    box-shadow: 0 0 10px #f6b036; }

button:focus, .form-control:focus, .btn:focus {
  outline: 0;
  box-shadow: unset; }

@media screen and (max-width: 768px) {
  .btn-yellow {
    font-size: 12px; }
    .btn-yellow i {
      opacity: 1;
      right: 13px;
      font-size: 10px;
      top: 17px; }

  p {
    font-size: 14px; }

  .square-border:after {
    display: none; } }
.page-content {
  min-height: 600px; }

.google-map iframe {
  width: 100%;
  height: 320px; }

.form-control {
  border-radius: 0;
  min-height: 48px;
  font-size: 14px;
  border-color: #e3e3e3; }
  .form-control:hover {
    border-color: #f6b036;
    box-shadow: 0 0 10px #e3e3e3; }

.contact-data-item {
  font-size: 15px; }
  .contact-data-item i {
    font-size: 20px; }

.ar-lang {
  font-family: "Almarai", sans-serif; }

.owl-carousel {
  direction: ltr; }

/*# sourceMappingURL=styles.css.map */
